.employeeRow {
  display: flex;
  justify-content: center;
}
.employee {
  cursor: pointer;
  display: flex;
  padding: 5px;
  border-radius: 80px;
  border: 1px solid #bababa;
  width: 200px;
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}
.employee.selected {
  background: #00a2ff;
  color: white;
}
.employeePicture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.employeePicture.eli {
  background: url(/eli.jpg);
  background-size: cover;
}
.employeePicture.phoebe {
  background: url(/phoebe.jpg);
  background-size: cover;
}
.employeeName {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.productRow {
  display: flex;
}
.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 16px;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}
.product.selected {
  background: #00a2ff;
  color: white;
}
.productPicture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productCount {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(0,0,0,.5);
}
.productText {
  font-size: 1.2em;
  text-align: center;
}

.moneyRow {
  display: flex;
}
.moneyItem {
  flex: 1;
  padding: 8px;
}
.moneyItem.shrink {
  flex: 0;
}
.moneyNumber {
  font-size: 5em;
}
.strike {
  color: red;
  position: relative;
}
.strike:after {
  content: '';
  position: absolute;
  color: black;
  top: 50%;
  right: 0;
  background: black;
  height: 10px;
  width: 100%;
  transform: rotate(-15deg);
}
.tada {
  line-height: 0.7em;
}

.checkButton {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  border: 1px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.checkButton.checked {
  background: #00a2ff;
  color: white;
}
